html {
    height: 100%;
}

body {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 85%;
    justify-content: center;
}

button[type="submit"] {
    background: $green;
    border: none;
    color: white;
    padding: 1rem;

    &:hover {
        background: $blue;
        transition: background 0.5s ease-in;
    }
}

input[type="search"] {
    padding: 1rem;
}
