html,
body {
    height: 100%;
}

button[type="submit"] {
    -webkit-appearance: none;
    background: $green;
    border: none;
    color: white;
    padding: 1rem;

    &:hover {
        background: $blue;
        transition: background 0.5s ease-in;
    }
}

input[type="search"] {
    -webkit-appearance: none;
    border: 1px solid $grey;
    -webkit-border-radius: 0;
    margin: 1rem 0;
    padding: 1rem;
}


#search {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 85%;
    justify-content: center;
}

@media only screen and (max-width: 450px) {
    form {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 30%;
        justify-content: space-around;
    }
}
