html {
    height: 100%;
}

body {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
}

button[type="submit"] {
    background: $green;
    color: white;
    border: none;
    padding: 1rem;
}

input[type="search"] {
    padding: 1rem;
}
