<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Node Forecast App</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <div id="error">
        <p class="error">Error Message</p>
    </div>
    <section id="search">
        <h1>Node Forecast</h1>
        <form action="." id="forecast-search" method="get">
            <!-- Single text entry in center of page for location entry -->
            <label for="forecast-search-box">ZIP:</label>
            <input type="search" name="location" id="forecast-search-box">
            <!-- 'Get Forecast' button -->
            <button type="submit">Get Forecast</button>
        </form>
    </section>
</body>
</html>
