<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Node Forecast App</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
    </nav>
    <section id="current-forecast">
        <h2>Current Conditions:</h2>
        <p id="current-temp">42°</p>
        <p id="apparent-temp">Clear • Feels like 30°</p>
        <p id="current-wind">Windspeed is 5mph from the southeast</p>
        <p id="high-low">Today&rsquo;s high: 50° • Today&rsquo;s low: 20°</p>
    </section>
    <section id="5-day-forecast">
        <h2>5-Day Forecast:</h2>
    </section>
</body>
</html>
